/*
메뉴얼(업무)
기능: 외부에서 자주 사용이 되는 스타일 시트 문서를 작성용
작성자:
작성날짜:2023.12.29

*/
h4,h3{
    font-family:돋움체 바탕체 샘물체; /*글자체 여러개가 나오는 경우(우선 순위로 나열)*/
    color:green;/* 글자색 */
    font-size:27pt;
    font-weight:bold;/*글자 굵게 (강조) bold bolder,lighter,200,300,400~(strong,b태그)*/    
}
