/*
 2번째 방법
*/
body{
    background:rgb(228, 170, 113);
    color:blueviolet;
    margin-left:30px; /*왼쪽 여백(바깥)*/
    margin-right:30px;/*오른쪽 여백*/
}
h3 {text-align:center; /* align=left | center | right" -> text-align사용 O */
    color:darkred;
}